<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
      <add name="Restbucks_Test" connectionString="Server=localhost\sqlexpress;Database=RestBucks2_Test;Trusted_Connection=true;" />
      <add name="Restbucks" connectionString="Server=localhost\sqlexpress;Database=RestBucks2;Trusted_Connection=true;" />
      <add name="DefaultConnection" providerName="NHibernate.Connection.DriverConnectionProvider" connectionString="Data Source=App_Data\restbucks.db;Version=3" />
   </connectionStrings>
</configuration>